body, a, ul, li, button, input, select, textarea, p, strong, h1, h2, h3, h4, h5, h6, figure, img {
  all: unset;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  -webkit-text-fill-color: currentColor !important;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  display: block;
  overflow-x: hidden;
}

figure, p, h1, h2, h3, h4, h5, h6, li {
  display: block;
}

a, button {
  cursor: pointer;
}

img, svg {
  width: 100%;
  height: auto;
  display: block;
}

svg {
  height: 100%;
}
svg * {
  transform-origin: center;
  transform-box: fill-box;
}

@font-face {
  font-family: "custom-font";
  src: url("fonts/file-name-without-ext.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}

:root {
  --primary: #0AAF6A;
  --body-color: #010101;
  --white: white;
  --black: black;
  --input-text-height: 45px;
  --textarea-radius: 0;
  --textarea-border-width: 0 0 1px;
  --textarea-padding: 10px 0;
  --textarea-height: var(--input-text-height);
  --input-text-padding: 0;
  --input-text-radius: 0;
  --input-border-color: var(--body-color);
  --input-text-border-width: 0 0 1px;
  --button-height: var(--input-text-height);
  --button-padding: 0 20px;
  --h1: 40px;
  --h2: 25px;
  --h3: 20px;
  --h4: 18px;
  --h5: 16px;
  --family-body: "sohne", sans-serif;
  --family-heading: "sohne";
  --nav-width: 25px;
  --header-height: 70px;
  --tablet: 400px;
  --desktop: 1200px;
  --widescreen: 1400px;
  --container-width: calc(100% - 50px);
}
@media (min-width: 400px) {
  :root {
    --nav-width: 50px;
    --header-height: 90px;
    --h1: 65px;
    --h2: 32px;
    --h3: 25px;
    --h4: 20px;
    --container-width: 720px;
  }
}
@media (min-width: 1200px) {
  :root {
    --h1: 95px;
    --h2: 38px;
    --h3: 30px;
    --h4: 24px;
    --container-width: 1140px;
  }
}
h1, .is-h1 {
  font-family: var(--family-heading);
  font-size: var(--h1);
  line-height: 1;
}

/*# sourceMappingURL=style.css.map */
