@use '../../node_modules/wildlabsstarter/style' as wl;

:root {
  //colors
  --primary: #0AAF6A;
  --body-color: #010101;
  --white: white;
  --black: black;

  // forms
  --input-text-height: 45px;
  --textarea-radius: 0;
  --textarea-border-width: 0 0 1px;
  --textarea-padding: 10px 0;
  --textarea-height: var(--input-text-height);
  --input-text-padding: 0;
  --input-text-radius: 0;
  --input-border-color: var(--body-color);
  --input-text-border-width: 0 0 1px;

  // buttons
  --button-height: var(--input-text-height);
  --button-padding: 0 20px;

  // typography
  --h1: 40px;
  --h2: 25px;
  --h3: 20px;
  --h4: 18px;
  --h5: 16px;
  --family-body: 'sohne', sans-serif;
  --family-heading: 'sohne';

  // layout
  --nav-width: 25px;
  --header-height: 70px;
  --tablet: #{wl.$tablet};
  --desktop: #{wl.$desktop};
  --widescreen: #{wl.$widescreen};
  --container-width: #{wl.$container-max-width-mobile};

  @include wl.tablet {
    --nav-width: 50px;
    --header-height: 90px;
    --h1: 65px;
    --h2: 32px;
    --h3: 25px;
    --h4: 20px;
    --container-width: #{wl.$container-max-width-tablet};
  }

  @include wl.desktop {
    --h1: 95px;
    --h2: 38px;
    --h3: 30px;
    --h4: 24px;
    --container-width: #{wl.$container-max-width-desktop};
  }

  @include wl.widescreen {
  }
}

